[submodule "tex"]
	path = tex
	url = https://github.com/mmore500/hstrat-synthesis.git
	branch = tex
[submodule "binder/binder-wse-sketches"]
	path = binder/binder-wse-sketches
	url = https://github.com/mmore500/wse-sketches.git
	branch = binder
[submodule "binder-2025-10-28-trafficsim_msprime.ipynb"]
	path = binder-2025-10-28-trafficsim_msprime.ipynb
	url = https://github.com/mmore500/hstrat-synthesis.git
	branch = binder-2025-10-28-trafficsim_msprime.ipynb
